@model IEnumerable<TrashCollection.Models.CustomerModel>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

@foreach(var customer in Model)
{
    <div>
        @customer.WeeklyPickUpDay
    </div>
}